<section class="py-10">
  <div class="container mx-auto">
    <div class="flex items-center gap-3 my-8">
      <div class="h-8 w-1.5 bg-linear-to-b from-emerald-500 to-emerald-700 rounded-full"></div>
      <h2 class="text-3xl font-bold text-gray-800">
        Featured <span class="text-emerald-600">Products</span>
      </h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
      @if (!isLoading()) {
        @for (product of allProducts(); track $index) {
          <app-product-card [product]="product"></app-product-card>
        } @empty {
          <div class="col-span-full text-center text-gray-500">No products available.</div>
        }
      } @else {
        <div class="col-span-full text-center text-primary-600">
          <i class="fas fa-spinner fa-spin text-3xl"></i>
          <p class="text-xl">Loading products...</p>
        </div>
      }
    </div>
  </div>
</section>
