<section id="categories" class="py-10">
  <div class="container mx-auto px-4">
    <div class="flex flex-col sm:flex-row justify-between sm:items-center mb-8">
      <div class="flex items-center gap-3 my-8">
        <div class="h-8 w-1.5 bg-linear-to-b from-emerald-500 to-emerald-700 rounded-full"></div>
        <h2 class="text-2xl md:text-3xl font-bold text-gray-800">
          Shop By <span class="text-emerald-600">Category</span>
        </h2>
      </div>

      <a
        class="text-emerald-600 self-end sm:self-auto hover:text-emerald-700 font-medium flex items-center cursor-pointer transition-colors duration-300"
        href="categories"
      >
        View All Categories
        <i class="fa-solid fa-arrow-right ml-2 text-sm"></i>
      </a>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
      <a
        class="bg-white rounded-lg p-4 text-center shadow-sm hover:shadow-md transition-all duration-300 group cursor-pointer hover:-translate-y-1"
        href="/categories/6439d61c0049ad0b52b90051"
      >
        <div
          class="w-20 h-20 overflow-hidden bg-emerald-100 rounded-full flex items-center justify-center mx-auto mb-3 group-hover:bg-emerald-200 transition-colors duration-300"
        >
          <img
            alt="Music"
            loading="lazy"
            width="80"
            height="80"
            class="w-full h-full object-cover rounded-full"
            src="./assets/images/music.jpeg"
          />
        </div>
        <h3 class="font-medium text-gray-800">Music</h3>
      </a>

      <a
        class="bg-white rounded-lg p-4 text-center shadow-sm hover:shadow-md transition-all duration-300 group cursor-pointer hover:-translate-y-1"
        href="/categories/6439d5b90049ad0b52b90048"
      >
        <div
          class="w-20 h-20 overflow-hidden bg-emerald-100 rounded-full flex items-center justify-center mx-auto mb-3 group-hover:bg-emerald-200 transition-colors duration-300"
        >
          <img
            alt="Men's Fashion"
            loading="lazy"
            width="80"
            height="80"
            class="w-full h-full object-cover rounded-full"
            src="./assets/images/mens fashion.jpeg"
          />
        </div>
        <h3 class="font-medium text-gray-800">Men's Fashion</h3>
      </a>

      <a
        class="bg-white rounded-lg p-4 text-center shadow-sm hover:shadow-md transition-all duration-300 group cursor-pointer hover:-translate-y-1"
        href="/categories/6439d58a0049ad0b52b9003f"
      >
        <div
          class="w-20 h-20 overflow-hidden bg-emerald-100 rounded-full flex items-center justify-center mx-auto mb-3 group-hover:bg-emerald-200 transition-colors duration-300"
        >
          <img
            alt="Women's Fashion"
            loading="lazy"
            width="80"
            height="80"
            class="w-full h-full object-cover rounded-full"
            src="./assets/images/womens fashion.jpeg"
          />
        </div>
        <h3 class="font-medium text-gray-800">Women's Fashion</h3>
      </a>

      <a
        class="bg-white rounded-lg p-4 text-center shadow-sm hover:shadow-md transition-all duration-300 group cursor-pointer hover:-translate-y-1"
        href="/categories/6439d41c67d9aa4ca97064d5"
      >
        <div
          class="w-20 h-20 overflow-hidden bg-emerald-100 rounded-full flex items-center justify-center mx-auto mb-3 group-hover:bg-emerald-200 transition-colors duration-300"
        >
          <img
            alt="SuperMarket"
            loading="lazy"
            width="80"
            height="80"
            class="w-full h-full object-cover rounded-full"
            src="./assets/images/supermarket.png"
          />
        </div>
        <h3 class="font-medium text-gray-800">SuperMarket</h3>
      </a>

      <a
        class="bg-white rounded-lg p-4 text-center shadow-sm hover:shadow-md transition-all duration-300 group cursor-pointer hover:-translate-y-1"
        href="/categories/6439d40367d9aa4ca97064cc"
      >
        <div
          class="w-20 h-20 overflow-hidden bg-emerald-100 rounded-full flex items-center justify-center mx-auto mb-3 group-hover:bg-emerald-200 transition-colors duration-300"
        >
          <img
            alt="Baby & Toys"
            loading="lazy"
            width="80"
            height="80"
            class="w-full h-full object-cover rounded-full"
            src="./assets/images/baby toys.png"
          />
        </div>
        <h3 class="font-medium text-gray-800">Baby & Toys</h3>
      </a>

      <a
        class="bg-white rounded-lg p-4 text-center shadow-sm hover:shadow-md transition-all duration-300 group cursor-pointer hover:-translate-y-1"
        href="/categories/6439d3e067d9aa4ca97064c3"
      >
        <div
          class="w-20 h-20 overflow-hidden bg-emerald-100 rounded-full flex items-center justify-center mx-auto mb-3 group-hover:bg-emerald-200 transition-colors duration-300"
        >
          <img
            alt="Home"
            loading="lazy"
            width="80"
            height="80"
            class="w-full h-full object-cover rounded-full"
            src="./assets/images/home.png"
          />
        </div>
        <h3 class="font-medium text-gray-800">Home</h3>
      </a>

      <a
        class="bg-white rounded-lg p-4 text-center shadow-sm hover:shadow-md transition-all duration-300 group cursor-pointer hover:-translate-y-1"
        href="/categories/6439d3c867d9aa4ca97064ba"
      >
        <div
          class="w-20 h-20 overflow-hidden bg-emerald-100 rounded-full flex items-center justify-center mx-auto mb-3 group-hover:bg-emerald-200 transition-colors duration-300"
        >
          <img
            alt="Books"
            loading="lazy"
            width="80"
            height="80"
            class="w-full h-full object-cover rounded-full"
            src="./assets/images/books.png"
          />
        </div>
        <h3 class="font-medium text-gray-800">Books</h3>
      </a>

      <a
        class="bg-white rounded-lg p-4 text-center shadow-sm hover:shadow-md transition-all duration-300 group cursor-pointer hover:-translate-y-1"
        href="/categories/6439d30b67d9aa4ca97064b1"
      >
        <div
          class="w-20 h-20 overflow-hidden bg-emerald-100 rounded-full flex items-center justify-center mx-auto mb-3 group-hover:bg-emerald-200 transition-colors duration-300"
        >
          <img
            alt="Beauty & Health"
            loading="lazy"
            width="80"
            height="80"
            class="w-full h-full object-cover rounded-full"
            src="./assets/images/beauty.png"
          />
        </div>
        <h3 class="font-medium text-gray-800">Beauty & Health</h3>
      </a>

      <a
        class="bg-white rounded-lg p-4 text-center shadow-sm hover:shadow-md transition-all duration-300 group cursor-pointer hover:-translate-y-1"
        href="/categories/6439d2f467d9aa4ca97064a8"
      >
        <div
          class="w-20 h-20 overflow-hidden bg-emerald-100 rounded-full flex items-center justify-center mx-auto mb-3 group-hover:bg-emerald-200 transition-colors duration-300"
        >
          <img
            alt="Mobiles"
            loading="lazy"
            width="80"
            height="80"
            class="w-full h-full object-cover rounded-full"
            src="./assets/images/mobiles.png"
          />
        </div>
        <h3 class="font-medium text-gray-800">Mobiles</h3>
      </a>

      <a
        class="bg-white rounded-lg p-4 text-center shadow-sm hover:shadow-md transition-all duration-300 group cursor-pointer hover:-translate-y-1"
        href="/categories/6439d2d167d9aa4ca970649f"
      >
        <div
          class="w-20 h-20 overflow-hidden bg-emerald-100 rounded-full flex items-center justify-center mx-auto mb-3 group-hover:bg-emerald-200 transition-colors duration-300"
        >
          <img
            alt="Electronics"
            loading="lazy"
            width="80"
            height="80"
            class="w-full h-full object-cover rounded-full"
            src="./assets/images/electronics.jpg"
          />
        </div>
        <h3 class="font-medium text-gray-800">Electronics</h3>
      </a>
    </div>
  </div>
</section>
